.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Trashes
.Spotlight-V100
.fseventsd


__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.venv/
venv/
ENV/
env/
.env/
.envrc

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/

.ipynb_checkpoints/
.profile
.ipython/

*.log
*.tmp
*.swp
*.lock

# executables & libs
*.exe
*.dll
*.so
*.dylib
*.out
*.o
*.obj
*.a
*.lib

# Script files
*.sh
*.bash
*.zsh
*.bat
*.cmd
*.ps1

.pyre/
.pdm.toml
.pdm-python
.poetry-cache/
pip-log.txt